.border-left-round{
  border-radius: 20px 0px 0 20px;
}
.border-right-round{
  border-radius: 0px 20px 20px 0px;
}
.primary-back{
  background: #61b3de !important;
}
.primary-mute-back{
  background: #99c5dc !important;
}