.border-left-round{
  border-radius: 20px 0px 0 20px;
}
.border-right-round{
  border-radius: 0px 20px 20px 0px;
}
.primary-back{
  background: #61b3de !important;
}
.top-bar-section ul li > a.primary-mute-back{
  background: #99c5dc;
}
.top-bar-section li a:not(.button).secondary-back{
  background:#ccc ;
}
.border-bottom-left{
  border-radius: 0px 0px 0px 50px;
}

// SHAME

.blahblah{
  display: block;
  float: right;
  list-style: none;
  text-align: center;
}
