<div id="myLocation" class="reveal-modal large">
  <div class="row">
    <div class="row text-center">
      <h3 class="subheader">
        Select the location
      </h3>
    <%= image_tag("map-large.gif") %>
      <a class="button closebox text-center">Save location</a>
    </div>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>